@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --footer-height: 25px;
    --color-dark-green: rgb(5, 41, 3);
    --color-light-green: #009f4d;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fdf5d9;
    font-family: "Mulish", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}

h1,
h2,
h3,
h4 {
    color: #d4c374;/*#d4ceb2;*/
    font-family: "Philosopher", Georgia, "Times New Roman", Times, serif;
}
h1 {
    font-weight: 700;
}
h2 {
    padding-bottom: 10px;
}
h4 {
    padding-top: 10px;
    padding-bottom: 3px;
}
h5, h6 {
    color: #d7f0cc;
    padding: 5px 0 3px;
}

/*
    Fake highlight on clickables
*/

button:hover,
button:active,
a[role=button]:hover,
a[role=button]:active,
input[type=submit]:hover,
input[type=submit]:active,
input[type=reset]:hover,
input[type=reset]:active {
    cursor: pointer;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.bg-cover {
    background: url("../images/bg-xsmall.webp") no-repeat center;
    background-size: cover !important;
    position: fixed;
    height: 100vh;
    width: 99.5vw; /* Adjust for perma-scroll */
    z-index: -1;
}

html {
    /*scroll-padding-top: 70px;
    overflow-y: auto;
    scrollbar-color: var(--color-light-green) var(--color-dark-green);
    scrollbar-width: thin;*/
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(to bottom, rgba(18, 114, 34, 0.1), rgba(28, 103, 88, 0.2)),
                      url("../images/bg-xsmall.webp");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(16, 64, 13, 1);
}
body > div:first-child {
    scroll-padding-top: 70px;
    overflow-y: auto;
    scrollbar-color: var(--color-light-green) var(--color-dark-green);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

#main-container {
    min-height: calc(100vh - var(--footer-height));
}
/* BS5 Lightbox */
/* Prevent Lightbox from hiding the scroll */
/*
body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}
*/

/*
    Header
*/
header h1 {
    font-size: 3.5rem;
    font-weight: 400;
    color: #BFCBA8;
}
header hr {
    width: 300px;
}
header img {
    height: auto;
    width: 150px;
}
/* 
    Navbar 
*/
header,
nav {
    background-color: rgba(7, 56, 2, 0.3);
}
nav.sticky {
    background-color: rgba(7, 52, 4, 0.8);
}
.dropdown {
    text-align: center;
}
nav.sticky .js-top {
    display: block;
}
nav .js-top {
    display: none;
    top: 0;
    right: 15px;
}
.js-top a {
    font-size: 1.8rem;
}
.js-top a,
.js-top a:hover,
.js-top a:active,
.js-top a:link,
.js-top a:visited {
    color: #fffae6;
    box-shadow: none;
}

/*
    Section button and dropdown
*/
nav button,
nav .dropdown-menu {
    width: 280px;
}
nav .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.9rem;
}


/* 
    Scrollable content
    Content formatting
*/
#content section {
    padding: 5px 0;
}
#content {
    background-color: rgba(4, 41, 2, 0.6);
}
/* Written by */
#content h4 + p > span[author] {
    font-size: 0.9rem;
    color: #dbc046;/*#e9d26a; /*#f0ce39*/
}
#content a {
    color: #e6dbb1;
}
#content a:hover,
#content a:active {
    color: #fffae6;
}

#content .anchorjs-link {
    color: #42a86c;
}
#content .anchorjs-link:hover,
#content .anchorjs-link:active {
    color: #61db94;
}
#content hr {
    border-top: none;
    border-bottom: 2px solid #009f4d;
}
#content .img-max, #content .figure {
    max-width: 50%; 
    float: right; 
    margin-left: 20px;
    margin-bottom: 10px;
}
.figure-caption {
    color: #dbc046;
}

/* 
    Table content 
*/
#content .table-wrapper {
    overflow: hidden;
    overflow-x: auto;
}
#content table {
    font-size: 0.9rem;
    background-color: rgba(4, 75, 33, 0.3);
    border: none;
}
#content th {
    background-color: #075c2a;
    font-weight: 600;
}
#content tr:nth-child(even) {
    background-color: rgba(214, 238, 238, 0.05);
  }
#content th, td {
    padding: 5px;
}
.column-1 {
    font-weight: bold; 
}
.column-2, 
.column-3, 
.column-4, 
.column-5 { 
    text-align: right; 
}

.footer {
    height: var(--footer-height);
}

.footer > div:first-child {
    background-color: rgb(5, 41, 3);
    color: #EEF2E6;
}


@media screen and (max-width: 600px) {
    table {
        font-size: 12px;
    }
    table th {
        word-wrap:break-word;
    }

    .sticky .dropdown {
        text-align: left;
        margin-left: 25px;
    }

    /* Lightbox */
    .lightbox-carousel {
        height: 100%;
    }
    .ratio {
        background-color: transparent !important;
        height: 100%;
    }
}
