html {
	height:  100%;
}

body {
	background-color:  rgba(16, 64, 13, 1);
	height:  100%;
	overflow: hidden;
}

.bg-cover {
	background-size: cover !important;
	background: url("../css/bg-xsmall.png") no-repeat center fixed;
}

#main {
	max-width: 800px;
}

.header {
	background-color:  rgba(16, 64, 13, 0.5);
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 20px;
}

.dropdown-menu {
	max-height: 200px;
    overflow-y: auto;
}

#scroll_dropmenu {
	min-width: 300px;
}

#scroll_row {
	background-color:  rgba(7, 52, 4, 0.8);
	min-height: 0; /* to enable flex on firefox */
}

#scroll_column {
	overflow-y: auto;
}

.footer {
	background-color:  rgba(7, 52, 4, 0.8);
	color: #FFFFFF;
}

#img-logo {
	max-width: 300px;
}

#img-crest {
	max-width: 80px;
}

#button_section {
	min-width: 300px;
}

h2 {
	padding-bottom: 10px;
}

h4 {
	padding-top: 5px;
}


p, h2, h4 {
	color:  #FFFFFF;
}

a {
	color: #49C0FB;
}

a:hover {
	color: #3A9AC9;
}

.img-max {
	max-width:50%; 
	float:right; 
	margin-left:20px;
}

hr.divider {
  border-bottom: 1px solid #009f4d;
  margin: 50px;
}
